.resources {
    width: 500px;
    justify-content: center;;
}

.resources li {
    font-size: 20px;
    padding: 20px;
}

.resources li:hover {
    color:white;
    margin: .1em;
}

.resources a:visited {
    color:rgb(43, 41, 41);
}

.resources a:visited:hover {
    color:rgb(94, 86, 86);
}